<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.featureb">

    <application>
        <activity
            android:name=".activity.FeatureBActivity"
            android:label="Feature B"
            android:exported="false">
            <intent-filter>
                <action android:name="com.example.internal.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="featureb"
                    android:path="/home"
                    android:scheme="example" />
            </intent-filter>
        </activity>

        <service android:name=".service.CustomService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.service.featureB" />
            </intent-filter>
        </service>
    </application>

</manifest>